<form name="fcf" class="fcf form-horizontal" role="form" novalidate>

  <div class="form-group" ng-class="{'has-error': fcf.fullname.$dirty && fcf.fullname.$invalid}">
    <label class="col-sm-2 control-label" for="fullname">Naam*</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="fullname" name="fullname" ng-model="contact.fullname" ng-model-options="{updateOn: 'blur'}" required ng-pattern="/[a-zA-Z\-]{2,}/" ng-trim/>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': (fcf.zipcode.$dirty && fcf.zipcode.$invalid) || fcf.address.$invalid}">
    <label class="col-sm-2 control-label" for="zipcode">Postcode + huisnummer</label>
    <div class="col-sm-4">
      <input class="form-control" type="text" id="zipcode" name="zipcode" ng-model="contact.zipcode" ng-model-options="{updateOn: 'blur'}" placeholder="1234 AB" ng-pattern="/[1-9][0-9]{3}\s?[a-zA-Z]{2}/" ng-trim ng-blur="getPostcodeData(contact)"/>
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="number" id="address" name="address" ng-model="contact.address"ng-min="0" integer ng-blur="getPostcodeData(contact)"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="street">Adres</label>
    <div class="col-sm-8">
      <p class="form-control-static">{{contact.street}}</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static">{{contact.address}}</p>
    </div>
  </div>

  <div class="form-group">
      <label class="col-sm-2 control-label">Postcode</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{contact.zipcode}}</p>
      </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Woonplaats</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{contact.residence}}</p>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': form.uEmail.$dirty && form.uEmail.$invalid}">
    <label class="col-sm-2 control-label" for="email">Email*</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <input class="form-control" type="email" id="email" name="email" ng-model="contact.email" required ng-trim/>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': fcf.phonenumber.$invalid}">
    <label class="col-sm-2 control-label" for="phonenumber">Telefoonnummer</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">+31</div>
        <input class="form-control" type="tel" id="phonenumber" name="phonenumber" ng-model="contact.phonenumber" maxlength="9" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-7">
      <span class="help-block">Velden met een * zijn verplicht.</span>
    </div>
    <div class="col-sm-3">
      <div class="pull-right">
        <button class="undo btn btn-default" ng-click="reset()" ng-disabled="isUnchanged(contact)">Reset</button>
        <button class="save btn btn-primary" ng-click="update(contact)" ng-disabled="fcf.$invalid || isUnchanged(contact)">Bewaren</button>
      </div>
    </div>
  </div>
</form>
